@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .shadow-t {
    box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1),
      0 -2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  .shadow-b {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
}

@layer base {
  a {
    color: inherit;
  }
}
